<% content_for :title, "New rule section" %>

<h1>New rule section</h1>

<%= render "form", rule_section: @rule_section %>

<br>

<div>
  <%= link_to "Back to rule sections", rule_sections_path %>
</div>
